New_Research/data/high_main_users.txt
New_Research/data/low_main_users.txt
New_Research/data/medium_main_users.txt
New_Research/data/user_events.txt
New_Research/data/LFM-1b-Full/*
ML_Base_Project/data/high_main_users.txt
ML_Base_Project/data/low_main_users.txt
ML_Base_Project/data/medium_main_users.txt
ML_Base_Project/data/user_events.txt
